html{
  height:100%;
}

body{
	font-family: 'Cormorant Garamond', serif;
	background: url(/images/parchment.jpg); /* Background vector created by rawpixel.com - www.freepik.com */
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}


canvas {
	position: absolute;
	width: 100%;
	padding: 0px;
	margin-top: -15px;
	margin-left: -15px;
}

.row {
}

#backgroundCanvas {
	background: url(/images/board.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}

#canvas {
	z-index: 5;
}



#squaresCanvas {
	z-index: 1;
}

#animationCanvas {
	z-index: 10;
}

#selectionCanvas {
	z-index: 20;
}

#modal {
	display: none;
	position: absolute;
	z-index:90;
	background-color: #FBFBFB;
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    width: 225px;
}

#modalTitle {
  padding: 2px 2px;
  margin: 0 0 5px;
}

#modalCanvas {
z-index: 30;
}


#rolls {
	font-size: 16px;
}

#modalOptions{
	text-align: center;
}

button{
	   margin-left: 4px;
	   margin-right: 4px;
	   margin-bottom: 8px;
}

#dontReroll{
	margin-top: 10px;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

.teamInfo{
	font-family: 'Cinzel', serif;
	padding-left:
}

.leftHr{
	margin-left:15px;
}

.rightHr{
	margin-right:15px;
}

#gameStatus{
  padding: 0px;	
  font-family: 'Cinzel', serif;
}

#score {
  margin: 0px;
}

#modalImages{
	display:flex;
}

.dice{
	margin-left: auto;
	margin-right: auto;
}

#close{
	display:flex;	
}

#newRolls{
	overflow-y: auto !important;
    height: 65px;
}


#actions{
  position: absolute;
  width: 100px;
  z-index: 100;
  color: #fafafa;
  padding-top: -10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#team1Actions{
  display: flex;
  width:100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#team2Actions{
  display: flex;
  width:100%;
  margin-left: 0px;
  margin-right: 30px;
  padding-right: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#team1Actions img {
margin-left: auto;
  margin-right: auto;
}

#team2Actions img {
margin-left: auto;
margin-right: auto;
}

#actionsMain{
	 background-color: rgba(0, 0, 255, .4);
	 border-radius: 10px;
	 padding-bottom: 4px;
}

#cancel {
	padding:0px;
}

a{
	text-decoration: none !important;
	cursor: pointer;
}

.reserves{
text-align:left;
}

.reserves p{
text-align:center;
}

#team1Reserves{
	margin-left:10px;
}

#team1Player{
	margin-left:12px;
	padding-left:3px;
	padding-top:6px;
	background-color: #3B4581;
	border-radius: 5px;
	color: #CFD1CE;
	width:90%
}

#team2Player{
	margin-right:0px;
	padding-right:0px;
	padding-top:6px;
	padding-left:0;
	background-color: #800C00;
	border-radius: 5px;
	color: #CFD1CE;
	width:90%
}

#team2Reserves{
	margin-right:10px;
}

.reserve {
	cursor: pointer;
}

#player1Img{
	padding-top:8px;
	padding-bottom: 5px;
	margin-right: 10px;
}

#player2Img{
	padding-top:8px;
	padding-bottom: 5px;
	margin-left: 10px;
}


#team1Player p{
	margin: 0 0 2px;
}

#team2Player p{
	margin: 2px 0 0;
}

#team1Player h4{
	margin: 0 0 2px;
}

#team2Player h4{
	margin: 0 0 2px;
}

.playerRow{
	
}

#cancelPlayer1{
	margin-left: 95%;
	margin-top: -25px;
	margin-bottom:0;
	cursor: pointer;
}

#cancelPlayer2{
	margin-left: 95%;
	margin-top: -25px;
	margin-bottom:0;
	cursor: pointer;
}

#team2Info{
	padding-right:10px;
}

#errors{
	color: red;
	font-family: 'Cormorant Garamond', serif;
	font-size: 16px;
	opacity: 1;
	visibility: hidden;
}

#endTurn{
	margin-top:12px;
}

.fade{
	transition: opacity 3s;
}

#closeModal{
	margin-top:5px;
}