canvas {
	position: absolute;
	width: 100%;
}

#backgroundCanvas {
	background: url(/images/board.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}

#canvas {
	z-index: 5;
}

#squaresCanvas {
	z-index: 1;
}

#animationCanvas {
	z-index: 10;
}

#selectionCanvas {
	z-index: 20;
}

#modal {
	display: none;
	position: absolute;
	z-index:100;
	background-color: #FBFBFB;
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    width: 225px;
}

#modalTitle {
  padding: 2px 2px;
  margin: 0 0 5px;
}

#modalCanvas {
z-index: 30;
}



#rolls {
	
}

#modalOptions{
	text-align: center;
}

button{
	   margin-left: 4px;
	   margin-right: 4px;
	   margin-bottom: 8px;
}

#dontReroll{
	margin-top: 10px;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}