html{
  height:100%;
}

body{
	font-family: 'Cormorant Garamond', serif;
	background: url(/images/parchment.jpg); /* Background vector created by rawpixel.com - www.freepik.com */
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}


canvas {
	position: absolute;
	width: 100%;
	padding: 0px;
	margin-top: -15px;
	margin-left: -15px;
}

.row {
	width:100%;
}

#backgroundCanvas {
	background: url(/images/board.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: -1;
}

#canvas {
	z-index: 5;
}



#squaresCanvas {
	z-index: 1;
}

#animationCanvas {
	z-index: 10;
}

#selectionCanvas {
	z-index: 20;
}

#modal {
	display: none;
	position: absolute;
	z-index:90;
	background-color: #FBFBFB;
    padding: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    width: 225px;
}

#modalTitle {
  padding: 2px 2px;
  margin: 0 0 5px;
}

#modalCanvas {
z-index: 30;
}


#rolls {
	font-size: 16px;
}

#modalOptions{
	text-align: center;
}

button{
	   margin-left: 4px;
	   margin-right: 4px;
	   margin-bottom: 8px;
}

#dontReroll{
	margin-top: 10px;
}

hr {
	margin-top: 0px;
	margin-bottom: 10px;
}

.teamInfo{
	font-family: 'Cinzel', serif;
}

#gameStatus{
  padding: 0px;	
  font-family: 'Cinzel', serif;
}

#score {
  margin: 0px;
}

#modalImages{
	display:flex;
}

.dice{
	margin-left: auto;
	margin-right: auto;
}

#close{
	display:flex;	
}

#newRolls{
	overflow-y: auto !important;
    height: 100px;
}


#actions{
  position: absolute;
  width: 100px;
  z-index: 100;
  color: #fafafa;
  padding-top: -10px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#actionsMain{
	 background-color: rgba(0, 0, 255, .4);
	 border-radius: 10px;
}

#cancel {
	padding:0px;
}

a{
	text-decoration: none !important;
	cursor: pointer;
}

.reserves{
	display:flex;
}

#team1Reserves{
	margin-left:10px;
}

#team2Reserves{
	margin-right:10px;
}

.reserve {
	float:left;
}