<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Game</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/main.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/app.js}"></script>
</head>
<body>
	<input type="hidden" id="gameId" th:value="${gameId}">
	<input type="hidden" id="teamId" th:value="${teamId}">
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			JavaScript! Websockets rely on JavaScript being enabled. Please
			enable JavaScript and try again</h2>
	</noscript>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 text-center">
				<h3 id="team1Name">Test</h3>
			</div>
			<div class="col-sm-8"></div>
			<div class="col-sm-2 text-center">
				<h3 id="team2Name">Test</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-1 col-sm-2"></div>
			<div class="col-lg-10 col-sm-8">
				<br>

				<canvas id="canvas" style="border: 1px solid lightgrey;"
					width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
</canvas>
			</div>
			<div class="col-lg-1 col-sm-2"></div>
		</div>
	</div>
</body>
</html>