<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Game</title>
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/main.css}" rel="stylesheet">
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
<script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
<script th:src="@{/app.js}"></script>
</head>
<body onresize="resizeActions()">
	<input type="hidden" id="gameId" th:value="${gameId}">
	<input type="hidden" id="teamId" th:value="${teamId}">
	<noscript>
		<h2 style="color: #ff0000">Seems your browser doesn't support
			JavaScript! Websockets rely on JavaScript being enabled. Please
			enable JavaScript and try again</h2>
	</noscript>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 text-center">
				<h4 id="team1Name"></h4>
			</div>
			<div class="col-sm-8"></div>
			<div class="col-sm-2 text-center">
				<h4 id="team2Name"></h4>
			</div>
		</div>
		<div class="row" id="canvases">
			<div class="col-lg-1 col-sm-2"></div>
			<div class="col-lg-10 col-sm-8">
				<br>
				<div id="modal" class="announcementModal">
				 <div class="modal-header">
				 <h4> Something something</h4>
				 </div>
				  <div class="modal-body">
				     <p id="modal-text">test</p>
				  </div>
				</div>
				<canvas id="backgroundCanvas" width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
                </canvas>
                <canvas id="squaresCanvas" width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
                </canvas>
				<canvas id="canvas" style="border: 1px solid lightgrey;"
					width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
               </canvas>
               <canvas id="animationCanvas" style="border: 1px solid lightgrey;"
					width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
               </canvas>
               <canvas id="selectionCanvas" style="border: 1px solid lightgrey;"
					width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
               </canvas>
               <canvas id="modalCanvas" style="border: 1px solid lightgrey;"
					width="3500">
    Your browser does not support the HTML5 canvas tag. Try with Firefox or Chrome.
               </canvas>
               
               <div id = rolls>
                 <div class="col-sm-2">
                   <p> Latest Rolls:</p>
                 </div>
                  <div class="col-sm-10">
               <p id = newRolls>  </p>
               </div>
			</div>
			<div class="col-lg-1 col-sm-2"></div>
		</div>
	</div>
</body>
</html>